*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-y:auto;
    overflow-x: hidden;
    background-image: url("./imgs/bg1.png");
    background-size: cover;
}
#navDiv{
    /* position: static; */
    /* top: 0; */
    height: 50px;
    width:100%;
    background-color: white;
    display:flex ;
    justify-content:space-between ;
}
#logoDiv{
    width:20%;
    margin-left: 5%;
    height: 50px;
}
#logoImg{
    height: 50px;
}
article{
    display:flex ;
    justify-content: space-around;
    padding-top: 2%;
}
form {
    width: 40%;
    /* margin: 3% auto; */
    text-align: center;
    border: 5px solid rgb(133, 133, 223);
    border-radius: 10px;
    padding: 2%;
    background-color: #9463cc;
}

#signupImg{
    margin-top: 25% ;
    height: 400px;
}
input{
    width:80%;
    margin:1%;
    padding: 2%;
    height: 40px;
    background-color: #e8cfff;
    color:#301362;
    border: 2px solid #906bd6;
    border-radius: 10px;
}
input:hover{
    border:2px solid #301362 ;
    background-color: #e7daf4;
}
#submitBtn{
    background-color:#301362 ;
    color: white;
    padding:0;
    font-size: 20px;
    font-weight: bolder;
}
#submitBtn:hover {
    width:85%;
    font-size: 22px;
    color: #e8cfff;
    box-shadow: 2px 2px 10px #d5cfdf;
    transition: all .5s ease-in-out;
}
p {
    display: none;
}
.valid {
    color: rgb(181, 255, 181);
    text-align: center;
}
.valid:before {
    content: "✔ ";
    text-align: center;
}
.invalid {
    color: rgb(251, 189, 189);
    text-align: center;
}
.invalid:before {
    content: "✖ ";
    text-align: center;
}
@media (min-width:600px) and (max-width:900px){
    form{
        width:80%;
    }
    input{
        width:90%;
    }
    #submitBtn:hover {
        width:95%;
        font-size: 22px;
        color: #e8cfff;
        box-shadow: 2px 2px 10px #d5cfdf;
        transition: all .5s ease-in-out;
    }
    #signupImg{
        margin-top: 25% ;
        height: 300px;
    }
}
@media (min-width:450px) and (max-width:599.9px){
    article{
        flex-direction: column-reverse;
    }
    form{
        width:90%;
        margin: 1% auto;
    }
    input{
        width:80%;
    }
    #submitBtn:hover {
        width:90%;
        font-size: 22px;
        color: #e8cfff;
        box-shadow: 2px 2px 10px #d5cfdf;
        transition: all .5s ease-in-out;
    }
    #imgdiv{
        width:100%;
        text-align: center;
    }
    #signupImg{
        margin-top: 2% ;
        height: 300px;
        margin: 0 auto;
        /* border: 1px solid black; */
    }
}
@media (min-width:350px) and (max-width:449.9px){
    article{
        flex-direction: column-reverse;
    }
    form{
        width:100%;
        margin: 1% auto;
    }
    input{
        width:90%;
    }
    #submitBtn:hover {
        width:95%;
        font-size: 22px;
        color: #e8cfff;
        box-shadow: 2px 2px 10px #d5cfdf;
        transition: all .5s ease-in-out;
    }
    #imgdiv{
        width:100%;
        text-align: center;
    }
    #signupImg{
        margin-top: 2% ;
        height: 200px;
        margin: 0 auto;
    }
}
@media (max-width:349.9px){
    article{
        flex-direction: column-reverse;
    }
    form{
        width:100%;
        margin: 1% auto;
    }
    input{
        width:98%;
    }
    #submitBtn:hover {
        width:100%;
        font-size: 22px;
        color: #e8cfff;
        box-shadow: 2px 2px 10px #d5cfdf;
        transition: all .5s ease-in-out;
    }
    #imgdiv{
        width:100%;
        text-align: center;
    }
    #signupImg{
        margin-top: 2% ;
        height: 150px;
        margin: 0 auto;
    }
}