*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-y:auto;
    overflow-x: hidden;
    background-image: url("./imgs/bg1.png");
    background-size: cover;   
    /* align-content: center; */
    /* align-items: center; */
}
#navDiv{
    /* position: static; */
    /* top: 0; */
    height: 50px;
    width:100%;
    background-color: white;
    display:flex ;
    justify-content:space-between ;
}
#logoDiv{
    width:20%;
    margin-left: 5%;
    height: 50px;
}
#logoImg{
    height: 50px;
}
article{
    display:flex ;
    justify-content: space-around;
    padding-top: 12%;
}
#loginFormID {
    width: 50%;
    /* align-self: center; */
    /* margin-top:10%; */
    text-align: center;
    border: 5px solid rgb(133, 133, 223);
    border-radius: 10px;
    padding: 6%;
    background-color: #9463cc;
}
input{
    width:80%;
    margin-top:1%;
    padding: 2%;
    height: 40px;
    background-color: #e8cfff;
    color:#301362;
    border: 2px solid #906bd6;
    border-radius: 10px;
}
input:hover{
    border:2px solid white ;
    background-color: #e7daf4;
}
#submitBtn{
    background-color:#301362 ;
    color: white;
    padding:0;
    font-size: 20px;
    font-weight: bolder;
}
#submitBtn:hover {
    width:85%;
    font-size: 22px;
    color: #e8cfff;
    box-shadow: 2px 2px 10px #d5cfdf;
    transition: all .5s ease-in-out;
}
p {
    display: none;
}
.valid {
    color: rgb(181, 255, 181);
    text-align: center;
}
.valid:before {
    content: "✔ ";
    text-align: center;
}
.invalid {
    color: rgb(73, 3, 3);
    text-align: center;
}
.invalid:before {
    content: "✖ ";
    text-align: center;
}
@media (min-width:600px) and (max-width:900px){
    #imgdiv{
        width:30%;
    }
    #signInImg{
        /* border: 1px solid #301362; */
        width:100%;
        padding-top: 2%;
    }
    #loginFormID{
        width:60%;
    }
    input{
        width:80%;
    }
}
@media (min-width:450px) and (max-width:599.9px){
    article{
        flex-direction: column;
    }
    #imgdiv{
        width:80%;
        text-align: center;
        margin:0 auto;
    }
    #loginFormID{
        width:80%;
        margin: 0 auto;
    }
    input{
        width:80%;
    }
}
@media (min-width:350px) and (max-width:449.9px){
    article{
        flex-direction: column;
    }
    #imgdiv{
        width:50%;
        text-align: center;
        margin:0 auto;
    }
    #signInImg{
        /* border: 1px solid #301362; */
        width:100%;
        padding-top: 2%;
    }
    #loginFormID{
        width:90%;
        margin: 0 auto;
    }
    input{
        width:90%;
    }
}
@media (max-width:349.9px){
    article{
        flex-direction: column;
    }
    #imgdiv{
        width:60%;
        text-align: center;
        margin:0 auto;
    }
    #signInImg{
        /* border: 1px solid #301362; */
        width:100%;
        padding-top: 2%;
    }
    #loginFormID{
        width:100%;
        margin: 0 auto;
    }
    input{
        width:100%;
    }
}