*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-y:auto;
    overflow-x: hidden;
    background-image: url("./imgs/bg1.png");
    background-size: cover;   
}
#navDiv{
    /* position: static; */
    /* top: 0; */
    height: 50px;
    width:100%;
    background-color: white;
    display:flex ;
    justify-content:space-between ;
}
#logoDiv{
    width:20%;
    margin-left: 5%;
    height: 50px;
}
#logoImg{
    height: 50px;
}
#logNavDiv{
    margin-top: .5%;
    width:30%;

}
a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
}
h1{
    color: white;
    font-size: 80px;
}
span{
    font-size: 50px;
}
article{
    display: flex;
    justify-content: space-around;
    padding-top:10%;
}
#wlcP{
    width:40%;
}
/* #wlcI{
    width:30%;
} */
#wlcImg{
    box-shadow: 2px 2px 10px white;
    border-radius:20px;
}
#regA{
    display: block;
    width:60%;
    padding: 3%;
    text-align: center;
    color: whitesmoke;
    border: 2px solid whitesmoke ;
    border-radius: 5px;
    background-color: #301362;
}
#regA:hover{
    width:61%;
    color: #301362;
    background-color: whitesmoke;
    
    border: 4px solid #301362 ;
    box-shadow: 2px 2px 10px whitesmoke;
}
h4{
    color: white;
}
#sinA{
    color: white;
    text-decoration: underline;
}
#sinA:hover{
    font-size: 30px;
    color: #dabbfd;
}
@media (min-width:630px) and (max-width:800px){
    article{
        flex-direction: column-reverse;
        padding-top: 2%;
    }
    #wlcP{
        margin: 0 auto;
        width:90%;
        text-align: center;
    }
    #wlcI{
        margin: 0 auto;
        width:90%;
        text-align: center;
    }
    #regA{
        margin:auto;
        display: block;
        width:50%;
    }
    #regA:hover{
        width:51%;
        
    }
}
@media (min-width:480px) and (max-width:629.9px){
    .aNav{
        text-decoration: none;
        font-size: 18px;
        font-weight: bolder;
        /* padding-top: 10%; */
    }
    #logNavDiv{
        padding-top:2%;
    }
    article{
        flex-direction: column-reverse;
        padding-top: 2%;
    }
    h1{
        font-size: 60px;
    }
    span{
        font-size: 35px;
    }
    #wlcP{
        margin: 0 auto;
        width:90%;
        text-align: center;
    }
    #wlcI{
        margin: 0 auto;
        width:90%;
        text-align: center;
    }
    #regA{
        margin:auto;
        display: block;
        width:50%;
    }
    #regA:hover{
        width:51%;
        
    }
}
@media (min-width:390px) and (max-width:479.9px){
    .aNav{
        text-decoration: none;
        font-size: 17px;
        font-weight: bolder;
        /* padding-top: 10%; */
    }
    #logNavDiv{
        padding-top:2%;
        width:40%;
    }
    article{
        flex-direction: column-reverse;
        padding-top: 4%;
    }
    h1{
        font-size: 50px;
    }
    span{
        font-size: 30px;
    }
    #wlcP{
        margin: 0 auto;
        width:100%;
        text-align: center;
    }
    #wlcI{
        margin: 0 auto;
        width:100%;
        text-align: center;
    }
    #regA{
        margin:auto;
        display: block;
        width:45%;
    }
    #regA:hover{
        width:46%;
        
    }
}
@media (max-width:389.9px){
    .aNav{
        text-decoration: none;
        font-size: 15px;
        font-weight: bolder;
    }
    #logNavDiv{
        padding-top:3%;
        width:45%;
    }
    article{
        flex-direction: column-reverse;
        padding-top: 7%;
    }
    h1{
        font-size: 50px;
    }
    span{
        font-size: 25px;
    }
    #wlcP{
        margin: 0 auto;
        width:100%;
        text-align: center;
    }
    #wlcI{
        margin: 0 auto;
        width:100%;
        text-align: center;
    }
    #wlcImg{
        height: 200px;
    }
    #regA{
        margin:auto;
        display: block;
        width:50%;
        font-size: 18px;
    }
    #regA:hover{
        width:51%;
        
    }
}
