*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-y:auto;
    overflow-x: hidden;
    background-image: url("./imgs/bg1.png");
    background-size: cover;   
}
#navDiv{
    position: fixed;
    top: 0;
    height: 50px;
    width:100%;
    background-color: white;
    display:flex ;
    justify-content:space-between ;
}
#logoDiv{
    width:20%;
    margin-left: 5%;
    height: 50px;
}
#logoImg{
    height: 50px;
}
#logNavDiv{
    margin-top: .5%;
    width:20%;

}
a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
}
article{
    margin-top:6%;
}
h1{
    margin-top: 4%;
    margin-left: 3%;
    color :white;
    font-size: 50px;
}
#userdiv{
    padding:5%;
    border:3px solid #301362;
    border-radius: 5px;
    background-color: #9463cc;
    color: white;
}
/* #wlcImg{
    height: 350px;
} */
#rhtDiv{
    text-align: center;
}
#leftDiv{
    width:65%;
    margin:0% auto 2% auto;

}
#superUserDiv{
    width:100%;
    margin-top:1%;
    padding:5%;
    border:3px solid #301362;
    border-radius: 5px;
    background-color: #9463cc;
    color: white;
}
#superUserDiv div{
    margin-top:5%;
    padding:5%;
    border:3px solid #301362;
    border-radius: 5px;
    background-color: #9463cc;
    color: white;
}
/* #tbl,tr,th,td{
    border-collapse: collapse;
    padding:1% 3%;
    text-align: center;
    margin: 0 auto;
    background-color: #9463cc;
    border: 2px solid #301362;
} */
@media (min-width:450px) and (max-width:800px){
    article{
        margin-top: 10%;
    }
    #leftDiv{
        width:80%;
    }
}
@media (max-width:449.9px){
    article{
        margin-top: 17%;
    }
    #leftDiv{
        width:98%;
    }
    h1{
        font-size: 40px;
    }
    #logNavDiv{
        margin-top: 1%;
        width:30%;
    }
    .aNav{
        font-size: 20px;
    }
}